name: Cleanup Releases & Tags

on:
  workflow_dispatch:

permissions: write-all

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  Cleanup_Releases_and_Tags:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: dev-drprasad/delete-older-releases@master
        with:
          repo: KevinNitroG/ReVanced-auto-build
          keep_latest: 0
          delete_tags: true

      - name: Checkout
        uses: actions/checkout@v3

      - name: Delete remote tags
        run: git push origin --delete $(git tag -l)
